[user]
	name = kumaran-14
	email = 32682103+kumaran-14@users.noreply.github.com
[core]
	pager = delta --dark --highlight-removed --commit-style box --file-style box --theme='Monokai Extended' --plus-color="#0c5246" --plus-emph-color="#033f85" --minus-color="#6e2e13" --minus-emph-color="#870375"
	excludesfile = /home/kumaran/.dotfiles/git/.gitignore
[credential]
	helper = cache --timeout 72000


[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
[init]
	defaultBranch = main
